.top-destinations {
    padding: 0 0 80px 0;
    text-align: center;
    @include clearfix;
    .width {
        @include clearfix;
    }
    .title {
        padding-top: 130px;
        h2 {
            line-height: 28px;
            text-transform: uppercase;
            margin-top: 0;
        }
        .discribe {
            line-height: 22px;
        }
    }
    .about {
        margin: 0;
        padding: 30px 0;
        box-shadow: 0 0 30px rgba(52, 52, 52, 0.15);
        margin-top: -75px;
        background-color: #ffffff;
        border-radius: 5px;
        clear: both;
        display: flex;
        flex-flow: row wrap;

        li {
            box-sizing: border-box;
            width: 25%;
            display: inline-block;
            padding: 0;
            border-right: 1px solid rgba(113, 113, 113, 0.3);
            &:last-child {
                border: none;
            }
        }
        .number, .description{
            line-height: 30px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }

    }

    .top {
        margin: 75px 0 0;
        padding: 0;
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        li {
            border-radius: 5px;
            margin-bottom: 30px;
            position: relative;
            width: 33.3%;
            box-sizing: border-box;
            padding: 0 10px;
            &:first-child {
                width: 66.7%;
            }
            a{
                display: inline-block;
            }
            img {
                max-width: 100%;

            }
        }
        .number-boat {
            position: absolute;
            z-index: 10;
            top: 30px;
            left: 27px;
            right: 0;
            bottom: 0;
            padding: 11px 0;
            background-color: #e7434e;
            width: 82px;
            height: 42px;
            border-radius: 5px;
            text-transform: uppercase;
            line-height: 22px;
            &:before {
                content: '';
                background: url("../images/sailboat-kopia.png") no-repeat center;
                background-size: cover;
                width: 16px;
                height: 16px;
                display: inline-block;
                margin-right: 10px;
            }
        }
        .place {
            display: inline-block;
            position: absolute;
            left: 27px;
            bottom: 27px;
            text-align: left;
            .city {
                line-height: 40px;
            }
            .country {
                line-height: 30px;
            }
        }
    }
    .button {
        margin-top: 65px;
    }
}

.wrap-make-money {
    padding: 175px 0 160px;
    text-align: center;
    background: url("../images/photo.png") no-repeat center;
    background-size: cover;
    .title-section {
        padding-top: 0;
    }
    .button {
        background: white;
        border: none;
        margin-top: 86px;
        a {
            padding: 20px 54px;
        }
    }
}

.wrap-boats {
    text-align: center;
    padding: 100px 0 87px;
    .boats {
        display: flex;
        flex-flow: row wrap;
        list-style-type: none;
        margin: 90px 0 0 0;
        padding: 0;
        li {
            width: 50%;
            margin-bottom: 30px;
            position: relative;
            a {
                display: inline-block;
            }
            img {
                max-width: 100%;
            }
            .price {
                position: absolute;
                z-index: 10;
                top: 30px;
                left: 27px;
                padding: 10px 14px;
                background-color: #e7434e;
                border-radius: 5px;
                line-height: 22px;
            }
            .describe-boat {
                display: inline-block;
                position: absolute;
                left: 27px;
                bottom: 27px;
                text-align: left;
                @include clearfix;
            }
            .name {
                line-height: 40px;
                margin-bottom: 6px;
            }
            .location {
                box-sizing: border-box;
                line-height: 22px;
                float: left;
                padding-right: 30px;
                .icon-map {
                    background: url("../images/map-marker--1-.png") no-repeat center;
                    background-size: cover;
                    width: 13px;
                    height: 17px;
                    display: inline-block;
                }
                .place-of-boat {
                    display: inline-block;
                }
            }
            .berths {
                box-sizing: border-box;
                float: right;
                line-height: 22px;
                &:before {
                    content: '';
                    width: 22px;
                    height: 14px;
                    background: url("../images/berths.png") no-repeat center;
                    background-size: cover;
                    display: inline-block;
                }
            }
        }
    }
    .button {
        margin-top: 70px;
    }

}